# Virtual Environment
venv/
env/
ENV/

# Django local database
db.sqlite3

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Static files for production
staticfiles/

# IDE files
.vscode/
.DS_Store